In [2]:
import os 
import pandas as pd
import probablepeople as pp

In [3]:
    
df= pd.read_excel('/home/jpack/workspace/mailMerge/Data/2159StudentsAddFERPAisN.XLSX')

In [21]:

header = list(df)
#assuming the name of "name column" is known, we pick out the column
df1 = df[['PERSON_NAME']]
col = df1.as_matrix(columns=None);
# ^convert column to array

len(col)

740

In [14]:
# if header contains first name or last name column, do nothing.
def isDone(): 
    for s in header:
        if 'first' in s.lower():
            return True
        else: return False

In [ ]:
# if name column haven't been splited, find the name column
# cuz we have already knew the column must be name column, no need for "tag"
def nameSplit():
    firstNameList = []
    middleNameList = []
    lastNameList =[]
    
    for name in col:
        try:
            pp.tag(name)
            dic = pp.parse(name)
            d = dict(dic)
            # reverse mapping
            d =  { v: k for k,v in d.items()}
            
            try:
                firstNameList.append(d['GivenName'])
            except KeyError:
                firstNameList.append(' ')
            try:
                middleNamelist.append(d['MiddleName'])
            except KeyError:
                if 'MiddleInitial' in name:
                    middleNameList.append(d['MiddleInitial'])
                else:
                    middleNameList.append(' ')
            try:
                lastNameList.append(d['Surname'])
            except KeyError:
                lastNameList.append(' ')
                
        except RepeatedLabelError:
            #deal with ansian names here and as far as I know, 
            # e.g xxx, xxx xxx
            #         ^the second and the third segment are both considered as one first name  
            
            if ',' in name: 
                names = name.split(",")
                lastNameList.append(names[0])# last name
                firstNameList.append(names[1])
            else: # if there isn't a ','
                names = name.split(' ')
                if(len(names)>2):
                    firstNameList.append(names[0] + name[1])
                else:
                    firstNameList.append(names[0])
                
                lastNameList.append(names[len(names)-1])

(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262
26094    108731
26095    398061
26096    119705
26097    173377
26098    411475
26099     35549
26100     29141
26101    116664
26102    393499
26103     26496
26104     49617
26105    114188
26106    220266
26107    346297
26108     70656
26109    162637
26110    231448
26111    182529
26112      8310
26113    120274
26114    269201
26115    303674
26116     31554
26117     70230
Name: ID_NUMBER, dtype: int64)
(u'ID_NUMBER', 0         48624
1        267099
2         39974
3        114153
4         16857
5        213051
6        393301
7        213644
8        254765
9         58773
10       153664
11        20173
12       282260
13       153213
14       351946
15        76726
16       147185
17        50451
18       437939
19       316467
20       425024
21       145837
22       394673
23       398414
24       400827
25       160063
26        67595
27        41105
28       342521
29        80370
          ...
26088    108729
26089    219774
26090    165736
26091    259199
26092     15830
26093     44262